body { font: 1em/1.5 'Montserrat', Arial, sans-serif; font-weight: 600; }

/* WCAG */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #EFEFEF;
    clip: auto !important;
    clip-path: none;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 20px;
    text-decoration: none;
    top: 5px;
    width: auto;
  }

/* Text */

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }

h1, h2, h3, p, a { color: #252B36; text-decoration: none; }

/* Structure */
#logo { height: 3em; }

#change-language { overflow: hidden; }
#change-language li { float: left; text-transform: uppercase; }
#change-language li:after { padding: 1em; content: '/'; }
#change-language li:last-child:after { display: none; }
#change-language a { line-height: 3em; }

#main-tip { text-align: center; }
#title-holder h2 { text-transform: uppercase; border-bottom: 4px solid var(--question-color); }
#tip { padding: 1em; text-align: center; }
#tip p { font-size: 3em; }
#next-tip-button { padding: 0.5em 1em 0.5em 2.5em; font-size: 2em; text-transform: uppercase; background: #FFF 0.5em center / auto 60% url(circle.svg) no-repeat; box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.2); border-radius: 5em; }

#app > footer { background: var(--question-color); }
#app > footer li, #app > footer a { font-weight: 400; color: #EFEFEF; }

@media only screen and (max-width: 799px) {
    #change-language { display: block; padding: 1em; color: #EFEFEF; background: #252B36; }
    #change-language ul { float: right; }
    #change-language a { color: #EFEFEF; }

    #title-holder h2 { font-size: 1.6em; padding: 0.6em 1em; }
    #tip p { padding: 2em 1em; font-size: 2em; }

    #app > footer { padding: 1em; }
    #app > footer ul { margin-left: 1em; list-style-type: disc; }
}

@media only screen and (min-width: 800px) {
    body, html, #app { height: 100%; }
    #app { display: flex; flex-direction: column; align-items: stretch; }
    #app > header { padding: 1.5em 2em 0; }
    #change-language { float: right; }
    #app > main { flex: 1; }
    
    #title-holder { display: flex; align-items: center; justify-content: center; height: 12vh; min-height: 3.5em; }
    #title-holder h2 { display: inline-block; font-size: 2.2em; }

    #tip { display: flex; align-items: center; justify-content: center; height: 24vh; min-height: 9em; max-width: 70%; margin: 0 auto; }
    #next-tip-button { user-select: none; position: absolute; bottom: 3em; right: 2em; }

    #main-tip .v-chartist-container { height: calc(64vh - 5em - 5em + 1px); }

    #app > footer ul { display: flex; align-content: stretch; padding: 0 2em; line-height: 3; }
    #app > footer li { flex: 1; text-align: center; }
    #app > footer li:first-child { text-align: left; }
    #app > footer li:last-child { text-align: right; }
}

/* Chartist */
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: var(--question-color) !important;
    
}

.ct-series-a .ct-area {
    fill: var(--question-color) !important;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #CCC !important;
}

.ct-series-b .ct-area {
    fill: #FFF !important;
}
